<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/OVI/IdeaProjects/untitled"><classes><class name="testngpractice.TestngAnnotationsSequenceDemo"><methods><include name="test1"/><include name="aa"/><include name="test3"/><include name="beforeMethod"/></methods></class><class name="testngpractice.TestngPractice"><methods><include name="maximizeWindow"/><include name="takeScreenshot"/><include name="assertTest"/><include name="radioButtonTest"/><include name="checkBoxTest"/><include name="alertCheck"/><include name="switchToFrame"/></methods></class></classes></test></suite>